@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

body {
    background-color: #00539f;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Open Sans", serif;
}

main {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px;
    color: #00539f;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    text-shadow: 3px 3px 1px black;
}

p,  li {
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 1px;
    font-weight: 600;
}

img {
    display: block;
    margin: 0 auto;
}